{
  "openapi": "3.1.0",
  "info": {
    "title": "Loyal Spark \u2014 Onchain Loyalty Protocol on Base",
    "version": "2.3.1",
    "summary": "AI-agent-native loyalty-as-a-service protocol on Base L2 with paid x402 + MPP corridors.",
    "description": "Loyal Spark is an onchain loyalty-as-a-service protocol on Base L2. New loyalty programs deploy as B20 (Base native ERC-20 superset, single-tx, active immediately); legacy ERC-20 factory remains for existing programs. AI agents and merchants mint tokens, manage rewards, P2P escrow, vouchers, and analytics \u2014 via x402 (USDC on Base) or REST/MCP with x-api-key. Builder Code bc_wdmnog7m.",
    "x-guidance": "Loyal Spark on Base L2 (chain 8453, USDC native).\n\nCritical rule for AI agents: many operations are multi-step workflows, not single endpoint calls. Read https://loyalspark.online/.well-known/skills/13-endpoint-workflows.md when orchestrating business actions.\n\nExternal agents must choose their own name, symbol, reward names, costs, and amounts. Workflow responses provide field_catalog, current_step, next_actions, prerequisites, blocking_reason, and continuation_context — not auto-assigned identity.\n\nAuth: lsk_ (merchant), rwk_ (holder), or x402 USDC.\n\nProgram lifecycle:\n- Default new program path: optional POST /workflow/generate-program-defaults (field catalog + examples) -> POST /programs with explicit name and symbol (B20 default) -> broadcast createB20 -> GET /tx-receipt or parse B20Created -> POST /register-program with token_standard b20 -> create rewards -> mint. auto_generate is for trusted internal automation only.\n- Legacy path: POST /programs with token_standard erc20 -> broadcast deploy -> POST /register-program -> POST /activate-program -> broadcast activation txs -> POST /program-status active -> create rewards -> mint.\n- To ask the platform what is missing next, call GET /workflow/program-status.\n\nReward / voucher lifecycle:\n- Rewards come after a usable program exists.\n- Call GET /recipient-api/workflow/reward-status or POST /recipient-api/workflow/prepare-reward-redemption before redeeming when holder-side sequencing is unclear.\n- Voucher redemption requires confirmed onchain token transfer first, then redeem endpoint, then vouchers/use when consumed.\n\nMCP mirrors REST: loyalty-mcp and recipient-loyalty-mcp now expose planner/default-generation tools in addition to atomic tools. Paid corridor: /x402-gateway/mcp-tools/<name>.\n\nDocs: https://loyalspark.online/api-docs \u00b7 skills: https://loyalspark.online/.well-known/skills/index.md",
    "contact": {
      "name": "Loyal Spark",
      "email": "admin@loyalspark.online",
      "url": "https://loyalspark.online"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/loyalspark"
    },
    "x-logo": {
      "url": "https://loyalspark.online/new-favicon.png",
      "altText": "Loyal Spark"
    },
    "x-provider": "Loyal Spark",
    "x-brand": "Loyal Spark",
    "x-builder-code": "bc_wdmnog7m",
    "x-mcp": {
      "url": "https://api.loyalspark.online/loyalty-mcp",
      "transport": "streamable-http",
      "tool_count": 38
    },
    "x-recipient-mcp": {
      "url": "https://api.loyalspark.online/recipient-loyalty-mcp",
      "transport": "streamable-http",
      "tool_count": 20
    },
    "x-x402-discovery": {
      "wellKnownResources": "https://api.loyalspark.online/.well-known/x402",
      "gatewayBaseUrl": "https://api.loyalspark.online/x402-gateway",
      "asset": "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913",
      "network": "eip155:8453"
    },
    "x-base-mcp-prepare": {
      "baseUrl": "https://api.loyalspark.online/agent-prepare",
      "pluginSpec": "https://loyalspark.online/skills/loyal-spark/plugins/loyal-spark.md",
      "responseShape": {
        "chainId": 8453,
        "description": "string",
        "transactions": [{ "to": "0x…", "data": "0x…", "value": "0x0" }],
        "builder_code": "bc_wdmnog7m"
      },
      "actions": [
        "create-program",
        "activate-program",
        "mint",
        "transfer",
        "recipient-transfer",
        "recipient-approve"
      ]
    }
  },
  "servers": [
    {
      "url": "https://api.loyalspark.online",
      "description": "Loyal Spark \u2014 canonical API origin for x402scan discovery and paid resource invocation. All listed x402 gateway paths return live HTTP 402 payment requirements."
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Agent API key (lsk_... merchant or rwk_... recipient)"
      },
      "siwx": {
        "type": "apiKey",
        "in": "header",
        "name": "SIGN-IN-WITH-X",
        "description": "SIWE proof (identity-only routes)"
      }
    }
  },
  "tags": [
    {
      "name": "Merchant REST",
      "description": "Authenticated merchant REST API (lsk_)"
    },
    {
      "name": "Recipient REST",
      "description": "Holder REST API (rwk_)"
    },
    {
      "name": "Merchant MCP",
      "description": "36 merchant MCP tools (Streamable HTTP JSON-RPC 2.0)"
    },
    {
      "name": "Recipient MCP",
      "description": "18 recipient MCP tools (Streamable HTTP JSON-RPC 2.0)"
    },
    {
      "name": "Base MCP Prepare",
      "description": "GET-friendly calldata for Base MCP send_calls (EIP-5792). Builder Code bc_wdmnog7m baked into data. Merchant: lsk_; holder: rwk_."
    }
  ],
  "paths": {
    "/agent-prepare": {
      "get": {
        "operationId": "agent_prepare_introspection",
        "summary": "Base MCP prepare service introspection",
        "description": "Public action catalog for the Base MCP custom plugin. No API key required.",
        "tags": ["Base MCP Prepare"],
        "security": [],
        "responses": {
          "200": {
            "description": "Service metadata and action list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "service": { "type": "string" },
                    "chainId": { "type": "integer" },
                    "builder_code": { "type": "string" },
                    "actions": { "type": "object" },
                    "docs": { "type": "string", "format": "uri" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent-prepare/create-program": {
      "get": {
        "operationId": "agent_prepare_create_program",
        "summary": "Prepare B20 or legacy ERC-20 program deploy calldata",
        "description": "Returns send_calls-ready factory transaction(s). Default token_standard is b20 (single-tx, active immediately). Requires scope mint or create_program.",
        "tags": ["Base MCP Prepare"],
        "parameters": [
          { "name": "name", "in": "query", "required": true, "schema": { "type": "string", "maxLength": 32 } },
          { "name": "symbol", "in": "query", "required": true, "schema": { "type": "string", "maxLength": 11 } },
          { "name": "token_standard", "in": "query", "required": false, "schema": { "type": "string", "enum": ["b20", "erc20"], "default": "b20" } },
          { "name": "api_key", "in": "query", "required": false, "schema": { "type": "string", "description": "lsk_ fallback when headers unavailable" } }
        ],
        "responses": {
          "200": { "description": "Prepare payload with transactions[]" },
          "401": { "description": "Missing or invalid lsk_" },
          "403": { "description": "Insufficient scope (mint or create_program required)" }
        }
      }
    },
    "/agent-prepare/activate-program": {
      "get": {
        "operationId": "agent_prepare_activate_program",
        "summary": "Prepare legacy ERC-20 activation batch (no-op for B20)",
        "description": "Legacy programs: unpause + grant MINTER_ROLE as EIP-5792 batch. B20 programs return already_active with empty transactions.",
        "tags": ["Base MCP Prepare"],
        "parameters": [
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string", "pattern": "^0x[a-fA-F0-9]{40}$" } },
          { "name": "api_key", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Prepare payload or already_active for B20" },
          "401": { "description": "Missing or invalid lsk_" },
          "403": { "description": "Insufficient scope" },
          "404": { "description": "Program not found" }
        }
      }
    },
    "/agent-prepare/mint": {
      "get": {
        "operationId": "agent_prepare_mint",
        "summary": "Prepare mint calldata (recipient + protocol fee)",
        "description": "Two mint transactions for EIP-5792 batch. Requires scope mint.",
        "tags": ["Base MCP Prepare"],
        "parameters": [
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "to", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "amount", "in": "query", "required": true, "schema": { "type": "number" } },
          { "name": "api_key", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Two-transaction prepare payload" },
          "401": { "description": "Missing or invalid lsk_" },
          "403": { "description": "Scope mint required" },
          "404": { "description": "Program not found" }
        }
      }
    },
    "/agent-prepare/transfer": {
      "get": {
        "operationId": "agent_prepare_merchant_transfer",
        "summary": "Prepare merchant-side ERC-20 transfer calldata",
        "tags": ["Base MCP Prepare"],
        "parameters": [
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "to", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "amount", "in": "query", "required": true, "schema": { "type": "number" } },
          { "name": "api_key", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Single transfer transaction" },
          "401": { "description": "Missing or invalid lsk_" },
          "403": { "description": "Scope mint required" }
        }
      }
    },
    "/agent-prepare/recipient-transfer": {
      "get": {
        "operationId": "agent_prepare_recipient_transfer",
        "summary": "Prepare holder ERC-20 transfer calldata",
        "tags": ["Base MCP Prepare"],
        "security": [{ "apiKey": [] }],
        "parameters": [
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "to", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "amount", "in": "query", "required": true, "schema": { "type": "number" } },
          { "name": "api_key", "in": "query", "required": false, "schema": { "type": "string", "description": "rwk_ fallback" } }
        ],
        "responses": {
          "200": { "description": "Single transfer from bound wallet" },
          "401": { "description": "Missing or invalid rwk_" }
        }
      }
    },
    "/agent-prepare/recipient-approve": {
      "get": {
        "operationId": "agent_prepare_recipient_approve",
        "summary": "Prepare holder ERC-20 approve calldata",
        "tags": ["Base MCP Prepare"],
        "parameters": [
          { "name": "token", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "spender", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "amount", "in": "query", "required": true, "schema": { "type": "number" } },
          { "name": "api_key", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Single approve transaction" },
          "401": { "description": "Missing or invalid rwk_" }
        }
      }
    },
    "/x402-gateway/programs": {
      "get": {
        "operationId": "get_programs",
        "summary": "List loyalty programs",
        "description": "Lists all loyalty programs owned by the authenticated merchant agent (active + expired).",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "Query parameters for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "description": "Query parameters passed through to the paid GET endpoint.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Query parameters for this request."
            }
          }
        ]
      },
      "post": {
        "operationId": "post_programs",
        "summary": "Get factory calldata to deploy a loyalty token",
        "description": "Returns deploy calldata for a loyalty token. Default: B20 (Base factory 0xB20f…, createB20, one tx, active after register-program). Legacy: token_standard erc20 → LoyaltyTokenFactory 0x5F3DdB… + activation. Agent submits the transaction, then POST /register-program.",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.05"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/rewards": {
      "get": {
        "operationId": "get_rewards",
        "summary": "List rewards for a program",
        "description": "Returns the reward catalog for a given loyalty token (token_address required as query).",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "Query parameters for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "description": "Query parameters passed through to the paid GET endpoint.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Query parameters for this request."
            }
          }
        ]
      },
      "post": {
        "operationId": "post_rewards",
        "summary": "Create a redeemable reward",
        "description": "Creates a reward in the merchant catalog (name, description, cost in points, optional stock and validity).",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/balance": {
      "get": {
        "operationId": "get_balance",
        "summary": "Get token balance and tier for a wallet",
        "description": "Returns ERC-20 balance, current tier, and tokens-earned-total for a customer wallet.",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "Query parameters for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "description": "Query parameters passed through to the paid GET endpoint.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Query parameters for this request."
            }
          }
        ]
      }
    },
    "/x402-gateway/customers": {
      "get": {
        "operationId": "get_customers",
        "summary": "List customers for a program",
        "description": "Returns customers (vouchers, balances, tier) of a given loyalty token.",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "Query parameters for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.002"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "description": "Query parameters passed through to the paid GET endpoint.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Query parameters for this request."
            }
          }
        ]
      }
    },
    "/x402-gateway/vouchers": {
      "get": {
        "operationId": "get_vouchers",
        "summary": "List vouchers issued by the merchant",
        "description": "Returns vouchers issued by the authenticated merchant; filterable by customer_address.",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "Query parameters for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "description": "Query parameters passed through to the paid GET endpoint.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Query parameters for this request."
            }
          }
        ]
      }
    },
    "/x402-gateway/analytics": {
      "get": {
        "operationId": "get_analytics",
        "summary": "Program analytics",
        "description": "Returns aggregated metrics for a loyalty token: minted, holders, redemptions, top customers, RFM distribution.",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "Query parameters for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "description": "Query parameters passed through to the paid GET endpoint.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Query parameters for this request."
            }
          }
        ]
      }
    },
    "/x402-gateway/offers": {
      "get": {
        "operationId": "get_offers",
        "summary": "List P2P marketplace offers",
        "description": "Returns active P2P swap offers across loyalty tokens (filterable by token_address).",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "Query parameters for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "description": "Query parameters passed through to the paid GET endpoint.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Query parameters for this request."
            }
          }
        ]
      },
      "post": {
        "operationId": "post_offers",
        "summary": "Create a P2P swap offer",
        "description": "Creates a P2P swap offer between two loyalty tokens (offer_token / offer_amount \u2194 request_token / request_amount).",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/merchant-profile": {
      "get": {
        "operationId": "get_merchant_profile",
        "summary": "Read merchant profile",
        "description": "Returns the merchant's public profile (business name, category, contact, branding).",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "Query parameters for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        }
      },
      "post": {
        "operationId": "post_merchant_profile",
        "summary": "Create merchant profile",
        "description": "Creates the merchant profile for the agent's owner wallet.",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      },
      "put": {
        "operationId": "put_merchant_profile",
        "summary": "Update merchant profile",
        "description": "Updates the merchant profile for the agent's owner wallet.",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/x402-gateway/register-program": {
      "post": {
        "operationId": "post_register_program",
        "summary": "Register a deployed loyalty token in the database",
        "description": "Persists a deployed loyalty token (B20 default or legacy ERC-20). Pass name, symbol, token_address, optional cashback_rate / points_per_dollar.",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/update-program-config": {
      "post": {
        "operationId": "post_update_program_config",
        "summary": "Update default cashback / points-per-dollar",
        "description": "Updates the loyalty program economics (cashback_rate 0-50%, points_per_dollar). Owner agent only.",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/activate-program": {
      "post": {
        "operationId": "post_activate_program",
        "summary": "Get activation calldata for an inactive program",
        "description": "Returns calldata to unpause a program and enable mint operations. Caller submits the on-chain tx.",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/program-status": {
      "post": {
        "operationId": "post_program_status",
        "summary": "Set program status in the database",
        "description": "Sets the database status (active / paused / archived) of a loyalty program.",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/mint": {
      "post": {
        "operationId": "post_mint",
        "summary": "Mint loyalty tokens to a customer wallet",
        "description": "Returns mint calldata + fee tx. Agent submits both txs (or uses CDP server wallet via /agent-wallet).",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/earn": {
      "post": {
        "operationId": "post_earn",
        "summary": "Record an earn / cashback for a purchase",
        "description": "Computes and mints loyalty points for a purchase (uses program's cashback_rate and points_per_dollar).",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/transfer": {
      "post": {
        "operationId": "post_transfer",
        "summary": "Get transfer calldata for loyalty tokens",
        "description": "Returns ERC-20 transfer calldata for the merchant agent to move loyalty tokens.",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/redeem-reward": {
      "post": {
        "operationId": "post_redeem_reward",
        "summary": "Redeem a reward for a customer",
        "description": "Burns reward cost from customer balance and issues a voucher; returns voucher code and id.",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/vouchers/use": {
      "post": {
        "operationId": "post_vouchers_use",
        "summary": "Mark a voucher as used",
        "description": "Marks a previously-issued voucher as used (consumed at point-of-sale).",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/accept-offer": {
      "post": {
        "operationId": "post_accept_offer",
        "summary": "Accept a P2P swap offer",
        "description": "Accepts an existing P2P swap offer by id. Atomic on-chain swap via LoyaltyTokenEscrow.",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/cancel-offer": {
      "post": {
        "operationId": "post_cancel_offer",
        "summary": "Cancel an own P2P swap offer",
        "description": "Cancels a P2P swap offer the caller created (status active only).",
        "tags": [
          "Merchant REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/recipient-api/balances": {
      "get": {
        "operationId": "get_recipient_api_balances",
        "summary": "List all loyalty balances for the holder",
        "description": "Returns balances and tiers across every loyalty program the holder participates in.",
        "tags": [
          "Recipient REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "Query parameters for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "rwk_"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "description": "Query parameters passed through to the paid GET endpoint.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Query parameters for this request."
            }
          }
        ]
      }
    },
    "/x402-gateway/recipient-api/balance": {
      "get": {
        "operationId": "get_recipient_api_balance",
        "summary": "Get balance for one loyalty token",
        "description": "Returns balance and tier for the holder for a single loyalty token.",
        "tags": [
          "Recipient REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "Query parameters for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "rwk_"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "description": "Query parameters passed through to the paid GET endpoint.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Query parameters for this request."
            }
          }
        ]
      }
    },
    "/x402-gateway/recipient-api/rewards": {
      "get": {
        "operationId": "get_recipient_api_rewards",
        "summary": "List rewards available to the holder",
        "description": "Lists redeemable rewards in programs where the holder has activity.",
        "tags": [
          "Recipient REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "Query parameters for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "rwk_"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "description": "Query parameters passed through to the paid GET endpoint.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Query parameters for this request."
            }
          }
        ]
      }
    },
    "/x402-gateway/recipient-api/vouchers": {
      "get": {
        "operationId": "get_recipient_api_vouchers",
        "summary": "List vouchers issued to the holder",
        "description": "Returns the holder's vouchers (redeemed rewards) with status.",
        "tags": [
          "Recipient REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "Query parameters for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "rwk_"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "description": "Query parameters passed through to the paid GET endpoint.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Query parameters for this request."
            }
          }
        ]
      }
    },
    "/x402-gateway/recipient-api/offers": {
      "get": {
        "operationId": "get_recipient_api_offers",
        "summary": "List P2P marketplace offers visible to the holder",
        "description": "Lists P2P swap offers the holder can accept (filterable by token_address).",
        "tags": [
          "Recipient REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "Query parameters for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.001"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "rwk_"
        },
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "style": "deepObject",
            "explode": true,
            "description": "Query parameters passed through to the paid GET endpoint.",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "description": "Query parameters for this request."
            }
          }
        ]
      },
      "post": {
        "operationId": "post_recipient_api_offers",
        "summary": "Create P2P swap offer",
        "description": "Creates a P2P swap intent between two loyalty tokens.",
        "tags": [
          "Recipient REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "rwk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/recipient-api/prepare-transfer": {
      "post": {
        "operationId": "post_recipient_api_prepare_transfer",
        "summary": "Prepare ERC-20 transfer calldata",
        "description": "Returns ERC-20 transfer calldata for the holder to send loyalty tokens to any address.",
        "tags": [
          "Recipient REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "rwk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/recipient-api/redeem-reward": {
      "post": {
        "operationId": "post_recipient_api_redeem_reward",
        "summary": "Redeem a reward",
        "description": "Redeems a reward using a transfer tx hash; returns the issued voucher.",
        "tags": [
          "Recipient REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "rwk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/recipient-api/accept-offer": {
      "post": {
        "operationId": "post_recipient_api_accept_offer",
        "summary": "Accept a P2P swap offer",
        "description": "Accepts a P2P swap offer by id (atomic via escrow).",
        "tags": [
          "Recipient REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "rwk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/recipient-api/cancel-offer": {
      "post": {
        "operationId": "post_recipient_api_cancel_offer",
        "summary": "Cancel own P2P swap offer",
        "description": "Cancels a P2P swap offer created by the holder.",
        "tags": [
          "Recipient REST"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        },
        "x-input-schema": {
          "type": "object",
          "additionalProperties": true,
          "description": "JSON body for this request."
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.005"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "rwk_"
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "JSON body for this request."
              }
            }
          }
        }
      }
    },
    "/x402-gateway/mcp-tools/get_platform_info": {
      "post": {
        "operationId": "mcp_get_platform_info",
        "summary": "MCP tool: get_platform_info",
        "description": "Protocol metadata and capabilities on Base L2. JSON-RPC 2.0 over Streamable HTTP. Body: { \"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"tools/call\", \"params\": { \"name\": \"get_platform_info\", \"arguments\": { ... } } }. Auth: x-api-key (lsk_...) or Authorization: Bearer.",
        "tags": [
          "Merchant MCP"
        ],
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "x-mcp": {
          "tool": "get_platform_info",
          "transport": "streamable-http",
          "server": "https://api.loyalspark.online/loyalty-mcp",
          "inputSchema": {
            "type": "object",
            "properties": {}
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "const": "2.0"
                  },
                  "id": {},
                  "method": {
                    "type": "string",
                    "const": "tools/call"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "const": "get_platform_info"
                      },
                      "arguments": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "required": [
                      "name"
                    ]
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP JSON-RPC response with result.content[]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        }
      }
    },
    "/x402-gateway/mcp-tools/get_my_profile": {
      "post": {
        "operationId": "mcp_get_my_profile",
        "summary": "MCP tool: get_my_profile",
        "description": "Authenticated agent profile and scopes. JSON-RPC 2.0 over Streamable HTTP. Body: { \"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"tools/call\", \"params\": { \"name\": \"get_my_profile\", \"arguments\": { ... } } }. Auth: x-api-key (lsk_...) or Authorization: Bearer.",
        "tags": [
          "Merchant MCP"
        ],
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "x-mcp": {
          "tool": "get_my_profile",
          "transport": "streamable-http",
          "server": "https://api.loyalspark.online/loyalty-mcp",
          "inputSchema": {
            "type": "object",
            "properties": {}
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "const": "2.0"
                  },
                  "id": {},
                  "method": {
                    "type": "string",
                    "const": "tools/call"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "const": "get_my_profile"
                      },
                      "arguments": {
                        "type": "object",
                        "properties": {}
                      }
                    },
                    "required": [
                      "name"
                    ]
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP JSON-RPC response with result.content[]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        }
      }
    },
    "/x402-gateway/mcp-tools/list_loyalty_programs": {
      "post": {
        "operationId": "mcp_list_loyalty_programs",
        "summary": "MCP tool: list_loyalty_programs",
        "description": "List merchant loyalty programs. JSON-RPC 2.0 over Streamable HTTP. Body: { \"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"tools/call\", \"params\": { \"name\": \"list_loyalty_programs\", \"arguments\": { ... } } }. Auth: x-api-key (lsk_...) or Authorization: Bearer.",
        "tags": [
          "Merchant MCP"
        ],
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "x-mcp": {
          "tool": "list_loyalty_programs",
          "transport": "streamable-http",
          "server": "https://api.loyalspark.online/loyalty-mcp",
          "inputSchema": {
            "type": "object",
            "properties": {
              "include_expired": {
                "type": "boolean"
              }
            }
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "const": "2.0"
                  },
                  "id": {},
                  "method": {
                    "type": "string",
                    "const": "tools/call"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "const": "list_loyalty_programs"
                      },
                      "arguments": {
                        "type": "object",
                        "properties": {
                          "include_expired": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "required": [
                      "name"
                    ]
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP JSON-RPC response with result.content[]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        }
      }
    },
    "/x402-gateway/mcp-tools/create_loyalty_program": {
      "post": {
        "operationId": "mcp_create_loyalty_program",
        "summary": "MCP tool: create_loyalty_program",
        "description": "Deploy calldata for loyalty token (B20 default via createB20, or legacy ERC-20 factory). JSON-RPC 2.0 over Streamable HTTP. Body: { \"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"tools/call\", \"params\": { \"name\": \"create_loyalty_program\", \"arguments\": { ... } } }. Auth: x-api-key (lsk_...) or Authorization: Bearer.",
        "tags": [
          "Merchant MCP"
        ],
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "x-mcp": {
          "tool": "create_loyalty_program",
          "transport": "streamable-http",
          "server": "https://api.loyalspark.online/loyalty-mcp",
          "inputSchema": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "symbol": {
                "type": "string"
              },
              "expiration_days": {
                "type": "number"
              }
            },
            "required": [
              "name",
              "symbol"
            ]
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "const": "2.0"
                  },
                  "id": {},
                  "method": {
                    "type": "string",
                    "const": "tools/call"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "const": "create_loyalty_program"
                      },
                      "arguments": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "expiration_days": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "name",
                          "symbol"
                        ]
                      }
                    },
                    "required": [
                      "name"
                    ]
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP JSON-RPC response with result.content[]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        }
      }
    },
    "/x402-gateway/mcp-tools/register_loyalty_program": {
      "post": {
        "operationId": "mcp_register_loyalty_program",
        "summary": "MCP tool: register_loyalty_program",
        "description": "Register deployed token in database. JSON-RPC 2.0 over Streamable HTTP. Body: { \"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"tools/call\", \"params\": { \"name\": \"register_loyalty_program\", \"arguments\": { ... } } }. Auth: x-api-key (lsk_...) or Authorization: Bearer.",
        "tags": [
          "Merchant MCP"
        ],
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "x-mcp": {
          "tool": "register_loyalty_program",
          "transport": "streamable-http",
          "server": "https://api.loyalspark.online/loyalty-mcp",
          "inputSchema": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "symbol": {
                "type": "string"
              },
              "token_address": {
                "type": "string"
              }
            },
            "required": [
              "name",
              "symbol",
              "token_address"
            ]
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "const": "2.0"
                  },
                  "id": {},
                  "method": {
                    "type": "string",
                    "const": "tools/call"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "const": "register_loyalty_program"
                      },
                      "arguments": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "symbol": {
                            "type": "string"
                          },
                          "token_address": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "symbol",
                          "token_address"
                        ]
                      }
                    },
                    "required": [
                      "name"
                    ]
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP JSON-RPC response with result.content[]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        }
      }
    },
    "/x402-gateway/mcp-tools/activate_loyalty_program": {
      "post": {
        "operationId": "mcp_activate_loyalty_program",
        "summary": "MCP tool: activate_loyalty_program",
        "description": "Activation calldata for inactive program. JSON-RPC 2.0 over Streamable HTTP. Body: { \"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"tools/call\", \"params\": { \"name\": \"activate_loyalty_program\", \"arguments\": { ... } } }. Auth: x-api-key (lsk_...) or Authorization: Bearer.",
        "tags": [
          "Merchant MCP"
        ],
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "x-mcp": {
          "tool": "activate_loyalty_program",
          "transport": "streamable-http",
          "server": "https://api.loyalspark.online/loyalty-mcp",
          "inputSchema": {
            "type": "object",
            "properties": {
              "token_address": {
                "type": "string"
              }
            },
            "required": [
              "token_address"
            ]
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "const": "2.0"
                  },
                  "id": {},
                  "method": {
                    "type": "string",
                    "const": "tools/call"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "const": "activate_loyalty_program"
                      },
                      "arguments": {
                        "type": "object",
                        "properties": {
                          "token_address": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "token_address"
                        ]
                      }
                    },
                    "required": [
                      "name"
                    ]
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP JSON-RPC response with result.content[]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        }
      }
    },
    "/x402-gateway/mcp-tools/update_program_status": {
      "post": {
        "operationId": "mcp_update_program_status",
        "summary": "MCP tool: update_program_status",
        "description": "Update program status in DB. JSON-RPC 2.0 over Streamable HTTP. Body: { \"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"tools/call\", \"params\": { \"name\": \"update_program_status\", \"arguments\": { ... } } }. Auth: x-api-key (lsk_...) or Authorization: Bearer.",
        "tags": [
          "Merchant MCP"
        ],
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "x-mcp": {
          "tool": "update_program_status",
          "transport": "streamable-http",
          "server": "https://api.loyalspark.online/loyalty-mcp",
          "inputSchema": {
            "type": "object",
            "properties": {
              "token_address": {
                "type": "string"
              },
              "status": {
                "type": "string"
              }
            },
            "required": [
              "token_address",
              "status"
            ]
          }
        },
        "x-payment-info": {
          "price": {
            "mode": "fixed",
            "currency": "USD",
            "amount": "0.01"
          },
          "protocols": [
            {
              "x402": {}
            },
            {
              "mpp": {
                "method": "USDC",
                "intent": "pay-per-call",
                "currency": "USD"
              }
            }
          ]
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "const": "2.0"
                  },
                  "id": {},
                  "method": {
                    "type": "string",
                    "const": "tools/call"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "const": "update_program_status"
                      },
                      "arguments": {
                        "type": "object",
                        "properties": {
                          "token_address": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "token_address",
                          "status"
                        ]
                      }
                    },
                    "required": [
                      "name"
                    ]
                  }
                },
                "required": [
                  "jsonrpc",
                  "method",
                  "params"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP JSON-RPC response with result.content[]",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required \u2014 returns x402 challenge with `accepts[]`"
          }
        }
      }
    },
    "/x402-gateway/mcp-tools/update_program_config": {
      "post": {
        "operationId": "mcp_update_program_config",
        "summary": "MCP tool: update_program_config",
        "description": "Update program economics config (cashback_rate, points_per_dollar). JSON-RPC 2.0 over Streamable HTTP. Body: { \"jsonrpc\": \"2.0\", \"id\": 1, \"method\": \"tools/call\", \"params\": { \"name\": \"update_program_config\", \"arguments\": { ... } } }. Auth: x-api-key (lsk_...) or Authorization: Bearer.",
        "tags": [
          "Merchant MCP"
        ],
        "x-auth": {
          "type": "apiKey",
          "header": "x-api-key",
          "prefix": "lsk_"
        },
        "x-mcp": {
          "tool": "update_program_config",
          "transport": "streamable-http",
          "server": "https://api.loyalspark.online/loyalty-mcp",
          "inputSchema": {
            "type": "object",
            "properties": {
              "token_address": {
                "type": "string"
              },
              "cashback_rate": {
                "type": "number"
              },
              "points_per_dollar": {
                "type": "number"
              }
            },
            "required": [
              "token_address"
            ]
          }
        },
        "x-payment-info": {
[...]
